@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;

    background-color: #333333;
}

a {
    text-decoration: none;
    color: #0d87e5;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    color: #053b64;
}

#cta {
    margin-top: 8%;

    text-align: center;
}

#signup {
    background-color: #ff9933;
    margin: 2% 40% 0 40%;
    padding: 0.5%;
    border-radius: 5px;

    color: white;
    transition: color, background-color 0.5s;
}

#signup:hover {
    background-color: #cf7e2a;

    transition: background-color 0.5s;
}

#particles-js {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}