<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

    <footer th:fragment="nav" id="footer">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="info">
                        <h5 class="title">Company</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Discover Projects</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="column">
                    <div class="info">
                        <h5 class="title"> Help and Support</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="mailto:contact@motivitation.com">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">How it works</a>
                                </li>
                                <li>
                                    <a href="#">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Company Policy</a>
                                </li>
                                <li>
                                    <a href="#">Refunds</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="column">
                    <div class="info">
                        <h5 class="title">Latest News</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i> <b>EXAMPLE TITLE</b> We've restructured out internal development pipline...
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter-square"></i> We've just filled our website with lorum ipsum!
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="column">
                    <div class="info">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://discord.gg/Motivatation" class="btn btn-social btn-discord btn-simple">
                                        <i class="fab fa-discord"></i> Discord
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Motivatation" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fab fa-twitter-square"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/Motivatation" class="btn btn-social btn-instagram btn-simple">
                                        <i class="fab fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/TheMGRF/Motivatation" class="btn btn-social btn-github btn-simple">
                                        <i class="fab fa-github-square"></i> Github
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Motivatation" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fab fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="copyright">
                © <script> document.write(new Date().getFullYear()) </script> Motivatation, <a href="https://themgrf.me">TheMGRF</a>
            </div>
        </div>
    </footer>

</body>
</html>