<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

    <div id="nav-container" th:fragment="nav">
        <ul id="nav">
            <li><a href="/"><img class="logo nav-link" th:src="@{img/logo_header_white.png}" alt="Motivatation Logo"></a></li>
            <li class="nav-content"><a class="nav-link" href="/news">News</a></li>
            <li class="nav-content"><a class="nav-link" href="/#about">About</a></li>
            <li class="nav-content"><a class="nav-link" href="/contact">Contact</a></li>

            <li class="nav-mobile-content"><a class="nav-link" href="#menu">Menu <i class="fas fa-caret-down"></i></a></li>

            <span th:if="${pageName} != 'Motivatation | Home'">
                <li th:if="${loggedIn}" id="continue" class="nav-action"><a class="nav-link" href="/home">Continue</a></li>
                <li th:if="${not loggedIn}" id="login" class="nav-action"><a class="nav-link" href="/login">Login</a></li>
            </span>
            <span th:if="${pageName} == 'Motivatation | Home'">
                <div id="profile-container">
                    <li id="profile-info">
                        <span>
                            <b th:text="${username}">User</b>
                            <!--<p>Test 1: <span th:text="${player.health}"></span></p>-->
                            <small id="levels-tasks">
                                Level: <span th:text="${player.getLevel()}"></span>
                                <br>
                                Tasks: <span th:text="${player.getTasks()}"></span>
                            </small>
                        </span>
                    </li>
                </div>
            </span>
        </ul>
    </div>

</body>
</html>