<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

<div class="item" th:fragment="item">
    <a th:href="'/home/market/item/' + ${item.getId()}">
        <img class="item-img" style="background-color: rgba(38, 38, 38, 0.8);" th:src="${item.getTexture().getPath()}">
    </a>
    <div class="tooltip">
        <p th:style="'color: ' + ${item.getRarity().getColour()}" th:text="${item.getName()}"></p>

        <div th:each="description: ${item.getDescription()}">
            <p style="color: #CCCCCC;" th:text="${description}"></p>
        </div>

        <span th:each="attribute: ${item.getItemAttributes()}">
                        <span style="color: #CCCCCC;" th:text="${attribute.getName()} + ': '"></span><span th:style="'color: ' + ${attribute.getColour()}" th:text="${attribute.getDescription()}"></span>
                        <br>
                    </span>

        <p class="bold" th:style="'color: ' + ${item.getRarity().getColour()}" th:text="${item.getRarity().getName().toUpperCase()}"></p>

        <p></p>
        <p style="color: #CCCCCC;">Cost: <span style="color: #FFD700;" th:text="${item.getValue()}"></span><i style="color: #FFD700;" class="far fa-coins"></i></p>
        <p></p>

        <p style="color: #FFFF00;">Click to purchase!</p>
    </div>
</div>

</body>
</html>