#nav-container {
    background-color: #262626;
}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #262626;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#sidebar a {
    color: white;
    font-size: 1.2em;

    transition: color 0.5s;
}

#sidebar a:hover {
    color: #a4a4a4;

    transition: color 0.5s;
}

.active {
    background-color: #cf7e2a;
    border-radius: 2px;
    box-shadow: 1px 2px 15px black;
}

#sidebar li a {
    text-align: center;
    padding: 10%;

    display: block;
}

#sidebar li a i {
    color: #727272;
    margin-right: 2%;
}

.active i {
    color: white !important;
}

.active:hover {
    color: white !important;
}

#content {
    margin: 0 0 0 10%;
    height: 100%;
}

#currencies {
    float: right;
    margin-top: 5px;

    font-size: 1.2em;
    font-weight: bold;
}

.currency {
    float: right;
    display: inline;
}

.coins {
    color: gold;
}

.gems {
    color: aqua;
    margin: 0 20px 0 15px;
}

.inventory-container {
    margin: 2%;

    background-color: #9f9f9f;
    width: 80%;

    border-radius: 5px;
}

.inventory-container h3 {
    color: #ffffff;
    background-color: #707070;

    padding: 1%;
}

.item-img {
    image-rendering: pixelated;
    width: 64px;
    height: 64px;

    margin-left: 5px;
    padding: 4px;
    border-radius: 2px;
}

.item-img:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.item {
    position: relative;
    display: inline-block;
}

.item .tooltip {
    visibility: hidden;
    width: 240px;
    background-color: rgba(16, 3, 45, 0.9);
    border: 2px solid rgba(42, 7, 122, 0.9);
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-family: Minecraft;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.item:hover .tooltip {
    visibility: visible;
}

.item .tooltip:hover {
    visibility: hidden;
}

.achievement {
    background-color: #707070;
    width: 20%;
}

.achievement-img {
    padding-top: 2%;
}

.achievement-text {
    display: inline-block;
}

.achievement-name {
    line-height: 10px !important;
}

.achievement-description {
    line-height: 5px !important;
}