.logo {
    width: 256px;
}

#nav {
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
    overflow: hidden;

    font-size: 1em;
}

#nav li:first-of-type {
    margin-right: 2%;
    padding-top: 0;
    border-radius: 2px;
}

#nav li {
    float: left;
    padding-top: 0.4%;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;

    transition: color 0.3s;
}

.nav-link:hover {
    color: #9f9f9f;
    border-radius: 2px;
}

#nav .nav-mobile-content {
    display: none;
}

.mobile-seperator {
    display: none;
}

#nav .nav-action {
    float: right;
}

.nav-action {
    border-radius: 2px;
    font-weight: bold;
    margin-top: 0.8%;

    transition: color, background-color 0.5s;
}

#nav #login a {
    background-color: #ff9933;

    transition: color, background-color 0.5s;
}

#nav #login a:hover {
    color: white;
    background-color: #cf7e2a;

    transition: color, background-color 0.5s;
}

#nav #continue a {
    background-color: #33cfff;

    transition: color, background-color 0.5s;
}

#nav #continue a:hover {
    color: white;
    background-color: #207f9b;

    transition: color, background-color 0.5s;
}

#profile-container {
    float: right;
}

#profile-info {
    margin-top: 8%;
}

#profile-container li {
    float: right;
    display: inline-block;
    max-width: 50%;
}

#profile-container li * {
    float: right;
    display: inline-block;
}

#profile-icon {
    padding-right: 4px;
}

#profile-img {
    margin-top: 14%;

    width: 48px;
    border-radius: 50px;
}

@media only screen and (max-width: 767px) {
    #nav li:first-of-type {
        display: none;
    }

    .nav-content {
        display: none;
    }

    #nav .nav-mobile-content {
        display: inline;
    }

    .mobile-seperator {
        display: block;
        width: 80%;
        margin: auto;
    }
}