.task-container {
    margin: 2%;

    background-color: #9f9f9f;
    width: 80%;

    border-radius: 5px;
}

h3 {
    color: #ffffff;
    background-color: #707070;

    padding: 1%;
}

.tasks {
    padding: 2%;
}

.task {
    background-color: #262626;
    width: 10%;

    text-align: left;

    min-height: 250px;

    margin-right: 1%;
    padding: 0.2% 1% 1% 1%;

    border-radius: 5px;

    display: inline-block;
}

.task h4 {
    min-height: 57px;
}

#task-table {
    background-color: #9f9f9f;

    border-radius: 5px;

    border-collapse: separate;
    border-spacing: 15px;

    text-align: center;
}

#task-table th, #task-table td {
    min-width: 200px;
}

.task .gems {
    margin: 0;
}

.task-desc {
    font-weight: normal;
}

.label {
    font-weight: bold;

    margin: 0;
}

.in-progress {
    background-color: #b1135d;
}

.low {
    background-color: #6ca91f;
}

.medium {
    background-color: #b5ae0d;
}

.high {
    background-color: #a91f3f;
}

.complete {
    background-color: #4bea5e;

    margin: 2% 20% 2% 20%;
    border-radius: 3px;
}

#add-task {
    background-color: #DAA520;
    color: white;

    padding: 1%;

    border-radius: 3px;

    transition: background-color 0.3s;
}

#add-task:hover {
    cursor: pointer;

    background-color: #c38e25;

    transition: background-color 0.3s;
}

.checkbox {
    display: block;
    position: relative;

    margin-left: -20px;
    margin-bottom: 20px;

    cursor: pointer;
    font-size: 22px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;

    height: 0;
    width: 0;

    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;

    top: 0;

    height: 25px;
    width: 25px;

    background-color: #EEEEEE;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #CCCCCC;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";

    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;

    width: 5px;
    height: 10px;

    border: solid white;
    border-width: 0 3px 3px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#task-add {
    background-color: #6ca91f;

    width: 150px;
    padding: 1.5% 4%;
    margin-bottom: 2%;

    transition: background-color 0.3s;
}

#task-add:hover {
    background-color: #598d18;

    transition: background-color 0.3s;
}

.task-modal {
    text-align: center;
}

.task-modal div {
    margin-top: 0.2%;
}

.task-modal div label {
    display: block;
}

.task-modal input, select, textarea {
    background-color: #d0d0d0;
    color: black;

    padding: 0.5%;

    border: none;
    border-radius: 3px;
}