<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" th:href="@{img/favicon.ico}">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title th:text="${pageName}"></title>
</head>

<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div id="particles-js"></div>

    <div class="mobile-seperator">
        <hr>
    </div>

    <div id="cta">
        <h1>Welcome to <span th:text="${appName}"></span></h1>
        <img class="logo" th:src="@{img/logo_header_white.png}" alt="Motivatation Logo">

        <h2>Motivate yourself with an immersive RPG experience!</h2>
        <h3>
            It's time to have fun when you get things done!
            <br>
            Join over 4 million people and improve your life one task at a time.
        </h3>
        <img id="cta-icon" th:src="@{img/cta-icon.png}" alt="Motivatation CTA Icon">

        <a href="#signup"><p id="signup" >Sign Up</p></a>
    </div>

    <script th:src="@{js/particles.js}"></script>
    <script>
        particlesJS.load('particles-js', '/js/particles.json', function() {
            console.log('[INFO] Particles loaded successfully!');
        });
    </script>
</body>

</html>