<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Thomas Griffiths">
    <meta name="description" content="Motivatation | Modern problems require modern solutions">
    <meta name="keywords" content="Motivatation,RPG">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Motivatation">
    <meta property="og:description" content="Modern problems require modern solutions">
    <meta property="og:image" content="https://motivatation.com/img/logo.png">
    <meta property="og:url" content="https://motivatation.com/">

    <link rel="icon" type="image/png" th:href="@{img/favicon.ico}">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/landing.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/footer.css}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title th:text="${pageName}"></title>
</head>

<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div id="particles-js"></div>

    <div class="mobile-seperator">
        <hr>
    </div>

    <div id="cta">
        <img class="logo" th:src="@{img/logo_header_white.png}" alt="Motivatation Logo">

        <h2>Solving tasks one game at a time!</h2>
        <h3>
            It's time to have fun when you get things done with RPG style leveling!
            <br>
            Join others and improve your life one task at a time.
        </h3>
        <img id="cta-icon" th:src="@{img/cta-icon.png}" alt="Motivatation CTA Icon">

        <a th:if="${loggedIn}" href="/home"><p class="signup">Continue</p></a>
        <a th:if="${not loggedIn}" href="/signup"><p class="signup">Sign Up</p></a>
    </div>

    <div id="about" class="slant">
        <h2>How <span th:text="${appName}"></span> Works</h2>

        <div id="about-icons">
            <div class="column">
                <img th:src="@{img/feature1.png}" alt="Motivatation Logo">
                <h3 class="about-title">Motivation</h3>
                <p>We do some stuff with logic to make you sorta more motivated than usual I guess.</p>
            </div>
            <div class="column">
                <img th:src="@{img/feature2.png}" alt="Motivatation Logo">
                <h3 class="about-title">Gamification</h3>
                <p>We integrate common gameplay ideas straight into our task tracker to provide more engagement!</p>
            </div>
            <div class="column">
                <img th:src="@{img/feature3.png}" alt="Motivatation Logo">
                <h3 class="about-title">Engaging</h3>
                <p>We bring more fun and enjoyment into standard task completion with levelling, items, and missions!</p>
            </div>
        </div>
    </div>

    <div id="join">
        <h2>Looking to get involved?</h2>
        <h3>Join all the other people who love <span th:text="${appName}"></span>!</h3>

        <a th:if="${loggedIn}" href="/home"><p class="signup">Continue</p></a>
        <a th:if="${not loggedIn}" href="/signup"><p class="signup">Sign Up</p></a>
    </div>

    <div id="padding"></div>
    <script>
        // temp padding bodge
        const spaces = 10;
        for (let i = 0; i < spaces; i++) {
            document.getElementById("padding").innerHTML += "<br>";
        }
    </script>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{js/particles.js}"></script>
    <script th:src="@{js/loadParticles.js}"></script>
</body>

</html>