<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Thomas Griffiths">
    <meta name="description" content="Motivatation | Modern problems require modern solutions">
    <meta name="keywords" content="Motivatation,RPG">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Motivatation | Home">
    <meta property="og:description" content="Modern problems require modern solutions">
    <meta property="og:image" content="https://motivatation.com/img/logo.png">
    <meta property="og:url" content="https://motivatation.com/">

    <link rel="icon" type="image/png" th:href="@{img/favicon.ico}">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title th:text="${pageName}"></title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div class="mobile-seperator">
        <hr>
    </div>

    <ul id="sidebar">
        <li><a class="active" href="/home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/home/tasks"><i class="fas fa-thumbtack"></i> Tasks</a></li>
        <li><a href="/home/inventory"><i class="fas fa-archive"></i> Inventory</a></li>
        <li><a href="/home/market"><i class="fas fa-store"></i> Market</a></li>
        <li><a href="/home/missions"><i class="fas fa-campfire"></i> Missions</a></li>
        <li><a href="/home/achievements"><i class="fas fa-trophy"></i> Achievements</a></li>
        <li><a href="/home/help"><i class="far fa-question-circle"></i> Help</a></li>
    </ul>

    <div id="content">
        <div th:replace="fragments/currency :: #currencies"></div>

        <br>

        <div class="player-container">
            <!--<img class="character" th:src="@{img/character/idle.gif}" alt="Player Character">-->
            <img class="character" th:src="@{img/character.png}" alt="Player Character">

            <h2 th:text="${player.getName() + ' [Lv' + player.getLevel() + ']'}"></h2>
            <h3 th:text="'Health: ❤️' + ${player.getHealth()}"></h3>
            <h3 th:text="'Defence: 🛡️' + ${player.getDefence()}"></h3>
            <h3 th:text="'Stength: ⚔️' + ${player.getStrength()}"></h3>
            <h3 th:text="'Speed: 🚶' + ${player.getSpeed()}"></h3>
            <h3 th:text="'Intelligence: 💡' + ${player.getIntelligence()}"></h3>
        </div>

    </div>
</body>
</html>