<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Thomas Griffiths">
    <meta name="description" content="Motivatation | Modern problems require modern solutions">
    <meta name="keywords" content="Motivatation,RPG">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Motivatation | 404 - Page Not Found">
    <meta property="og:description" content="Modern problems require modern solutions">
    <meta property="og:image" content="https://motivatation.com/img/logo.png">
    <meta property="og:url" content="https://motivatation.com/">
    <base href="/">

    <link rel="icon" type="image/png" th:href="@{img/favicon.ico}">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/inventory.css}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title th:text="${pageName}"></title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="mobile-seperator">
    <hr>
</div>

<ul id="sidebar">
    <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/home/tasks"><i class="fas fa-thumbtack"></i> Tasks</a></li>
    <li><a class="active" href="/home/inventory"><i class="fas fa-archive"></i> Inventory</a></li>
    <li><a href="/home/market"><i class="fas fa-store"></i> Market</a></li>
    <li><a href="/home/missions"><i class="fas fa-campfire"></i> Missions</a></li>
    <li><a href="/home/achievements"><i class="fas fa-trophy"></i> Achievements</a></li>
    <li><a href="/home/help"><i class="far fa-question-circle"></i> Help</a></li>
</ul>

<div id="content">
    <div id="currencies">
        <div class="currency gems"><i class="far fa-gem"></i> 420</div>
        <div class="currency coins"><i class="fas fa-coins"></i> 1337</div>
    </div>

    <br>

    <div class="inventory-container">
        <h3>Your Inventory</h3>
        <tr class="inventory" th:each="item: ${player.getInventory().getItems()}">
            <div th:replace="fragments/item :: item" th:with="item=${item}"></div>
        </tr>
    </div>

    <ul class="list" id="list">
        <li><a href="">Use</a></li>
        <li><a href="">Trade</a></li>
        <li><a href="">Drop</a></li>
    </ul>
</div>

<script th:src="@{js/right-click.js}"></script>
</body>
</html>