<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Thomas Griffiths">
    <meta name="description" content="Motivatation | Modern problems require modern solutions">
    <meta name="keywords" content="Motivatation,RPG">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Motivatation | Tasks">
    <meta property="og:description" content="Modern problems require modern solutions">
    <meta property="og:image" content="https://motivatation.com/img/logo.png">
    <meta property="og:url" content="https://motivatation.com/">
    <base href="/">

    <link rel="icon" type="image/png" th:href="@{img/favicon.ico}">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/tasks.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/modal.css}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title th:text="${pageName}"></title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div class="mobile-seperator">
        <hr>
    </div>

    <ul id="sidebar">
        <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
        <li><a class="active" href="/home/tasks"><i class="fas fa-thumbtack"></i> Tasks</a></li>
        <li><a href="/home/inventory"><i class="fas fa-archive"></i> Inventory</a></li>
        <li><a href="/home/market"><i class="fas fa-store"></i> Market</a></li>
        <li><a href="/home/missions"><i class="fas fa-campfire"></i> Missions</a></li>
        <li><a href="/home/achievements"><i class="fas fa-trophy"></i> Achievements</a></li>
        <li><a href="/home/help"><i class="far fa-question-circle"></i> Help</a></li>
    </ul>

    <div id="content">
        <div th:replace="fragments/currency :: #currencies"></div>

        <br>

        <a id="add-task"><i class="fas fa-edit"></i> Add Task</a>

        <div class="tasks">
            <tr th:each="task: ${tasks}">
                <div th:if="${task.getReward().getRewardType().name() == ''}" th:replace="fragments/task :: task"></div>
            </tr>
        </div>

        <div id="task-modal" class="modal">
            <form method="POST" action="#" th:action="@{/home/tasks/add}" th:object="${newTask}">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Creating Task</h2>
                    </div>

                    <br>

                    <div class="modal-body task-modal">
                        <div>
                            <label for="name">Name</label>
                            <input th:field="*{name}" type="text" id="name" name="name" placeholder="Clean the dishes">
                        </div>
                        <br>
                        <div>
                            <label for="desc">Description</label>
                            <textarea th:field="*{description}" id="desc" name="desc" cols="50" rows="10" placeholder="I should really clone those dishes I left"></textarea>
                        </div>
                        <br>
                        <div>
                            <label for="date">Due</label>
                            <input th:field="*{due}" type="date" id="date" name="date">
                        </div>
                        <br>
                        <div>
                            <label for="state">State</label>
                            <select th:field="*{status}" name="state" id="state">
                                <option value="TODO">Todo</option>
                                <option value="STARTED">Started</option>
                                <option value="IN_PROGRESS">In Progress</option>
                                <option value="ON_HOLD">On-Hold</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label for="priority">Priority</label>
                            <select th:field="*{priority}" name="priority" id="priority">
                                <option value="LOW">Low</option>
                                <option value="MEDIUM">Medium</option>
                                <option value="HIGH">High</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label for="reward-type">Reward Type</label>
                            <select th:field="*{formRewardType}" name="reward-type" id="reward-type">
                                <option value="COINS">Coins</option>
                                <option value="GEMS">Gems</option>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label th:field="*{formRewardAmount}" for="formRewardAmount">Reward</label>
                            <input type="number" id="formRewardAmount" name="formRewardAmount" min="0" max="100" placeholder="0">
                        </div>
                        <br>

                        <button id="task-add" class="mission-btn" type="submit" value="Submit">Add Task</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script th:src="@{js/modals/taskModal.js}"></script>
</body>
</html>